<div class = "index-page">
<h1>Hello!</h1>
<p>Welcome to the book sharer!</p>

<div class = "login-link">
 <a href = "/login">Login</a>
  </div>

  <p class="account-message">
    Don't have an account? <a href="/signup">Sign up</a>
  </p>
</form>

<image src = "./images/background-book.png"  width = "300vh" alt = "open-book"></image>
</div>


 