<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
  <nav>
    <a href="/secret"> Home </a>
    <a href= "/login">Login</a>
    <a href = "/library">My Library</a>
    <a href = "/message">Message</a>
    <a href = "/search-friends">Find Friends</a>
    <a href = "my-friends">My Friends</a>
     <a href = "/logout">Log Out</a>
    <div class = "avatar">
    <img src = "./images/profile-book.png" width = "100vh">
    </div>

  </nav>

  {{{body}}}

  <script src="/javascripts/script.js"></script>
</body>

</html>