Saved Books
<br>
<br>
{{#each books}}
  {{title}}
  <br>
  {{authors}}
  <br>
  {{description}}
  <br>
  <br>
<a href="/library/delete?book_id={{_id}}">DELETE</a>
  <br>
  <br>
  <br>
  <br>
{{/each}}