<h1>Send a Message</h1>
<p>Get a book recommendation from a friend! </p>
<form action="/send-email" method="post">
  <label for="">Email</label>
  <input type="email" name="email" id="">
  <label for="">Subject</label>
  <input type="text" name="subject" id="">
  <br>
  <br>
  <label for="">Message</label>
  <textarea type="text" name="message"  rows="5" cols="33" id=""></textarea>
  <button type="submit">Submit</button>
</form>