<div class = "my-friends">
<h1>My Friends</h1>


<div class = "friends-border">
  {{#each friend.friendsList}}
    <b>{{username}}</b>
    <br>
    {{email}}
    {{!--<h3>{{faveBooks}}</h3> --}}
 <div class = "friend-form">
  <form action="/delete-friend/{{_id}}" method="POST">
   <button>Unfriend</button> 
  </form>
  </div>
  {{/each}}
</div>
</div>
