{{!-- <h2>Welcome {{name}}</h2> --}}

<h2>Welcome {{name}}!</h2>

<body>
  <p>Search for your favorite books!
  Or save ones you want to read later
  </p>
  <div class = "Search">
<form action="/search" method="GET">
  <label for=""></label>
  <input type="text" name="searchInput" id="">
  <button type="submit">Search for a Book</button>
</form>
</div>
</body>


