nav{
  background-image: url('/images/paper.png');
  padding: 3vh;
}

.avatar{
text-align: right;
}

.login-link{
  font-size: 5vh;
}

h1{
  text-align: center;
  font-family: 'Courier New', Courier, monospace
}

body {
  padding: 5vh;
  font: 3vh 'Courier New', Courier, monospace;;
  background-color: oldlace;
  color: black;
  border-style: inset;
  border-color: #00B7FF;
  border-radius: 5vh;
}

a {
  color: rgb(53, 53, 161);
}
 .search-form {
   all: unset;
   font-size: 2vw;
 }

 .library-box, .friends-border{
border-style: inset;
border-color: rgb(168, 225, 248);
 }

 @media screen and (min-width: 601px) {
  div.friends-border {
    font-size: 20px;
  }
}

@media screen and (max-width: 600px) {
  div.friends-border {
    font-size: 10px;
  }
}

 
 #input-button{
   border: 1vh solid black;
   padding: 5vh;
 }

 .index-page{
   text-align: center;
 }

 @media screen and (min-width: 601px) {
  input {
    width: 300px;
  }
}

@media screen and (max-width: 600px) {
  input {
    width: 150px;
  }
}


@media screen and (min-width: 601px) {
  textarea {
    width: 300px;
  }
}

@media screen and (max-width: 600px) {
  textarea {
    width: 150px;
  }
}


 .friend-form{
   width: 40vh;
 }

