nav{
  background-image: url('/images/paper.png');;
  padding: 10vh;
  -webkit-appearance: none;
 -moz-appearance: none;
 appearance: none;
}

.avatar{
text-align: right;
}

.login-link{
  font-size: 5vh;
}

h1{
  text-align: center;
}

body {
  padding: 5vh;
  font: 3vh "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: oldlace;
  color: black;
  border-style: inset;
  border-color: #00B7FF;
  border-radius: 5vh;
}

a {
  color: rgb(53, 53, 161);
}
 .search-form {
   all: unset;
  
 }

 .library-box, .friends-border{
border-style: inset;
border-color: rgb(168, 225, 248);
 }

 
 #input-button{
   border: 1vh solid black;
   padding: 5vh;
 }

 .index-page{
   text-align: center;
 }

 input{
   width: 40vh;
 }

 .friend-form{
   width: 40vh;
 }

