nav{
  background-color: oldlace;
  padding: 25px;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
 i#searcg-form {
   all: unset;
   width: 300px;
  
 }
 #input-button{
   border: 1px solid black;
   padding: 5px;
 }